secret:
  key: 58703273357638792F423F4528482B4D6250655368566D597133743677397A24
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 220MB

extern:
  resoures:
    path: E:/resources/
    Dir: resources
